.jumbotron, .card-body, .container, .site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

a.custom-card, a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.card-body:hover {
  background-color: rgb(247, 242, 242) !important;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

#averageScore .fa {
  font-size: 25px !important;
}

.review-summary-average {
  color: #333;
  font-size: 64px;
  line-height: 48px;
  display: inline-block;
  vertical-align: top;
}

.star-container {
  display: inline-block;
  vertical-align: middle;
}

.review-summary-average-legend {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  margin-top: 6px;
}

.ship, .profile {
  border: 3px ridge #999999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #f0f8ff;
  padding: 10px;
  font-family: 'Raleway', serif !important;
  overflow: auto;
}

.ship{
  float: right;
}

.costList {
  border-top: 1px solid #999999;
  background-color: #f0f8ff;
  padding: 7px;
}

table.blueTable {
  border: 3px ridge #999999;
  background-color: #F0F8FF;
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 5px;
  font-family: 'Raleway', serif !important;
  overflow: auto;
}

table.blueTable td, table.blueTable th {
  padding: 15px 15px;
}

table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table.blueTable tbody td {
  border-bottom: 1px solid #d7dfe6
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@media (max-width: 800px){
  .ship{
    float: none;
    max-width: 100%;
  }

  table{
    max-width: 90%;
  }

  .mx-auto{
    max-width: 100%;
  }
}

.paypalInput {
  color: #676767;
  font-size: 15px;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 36px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: none;
  background-color: #FDFDFD;
  box-sizing: border-box;
  padding: 0px 10px;
  background: url(../img/user-regular.svg) no-repeat scroll 7px 7px;
  /*Fuente icono: https://fontawesome.com/license*/
  background-size: 15px;
  padding-left: 30px;
  margin-bottom: 10px;
  -webkit-transition: border-color .15s linear, box-shadow .15s linear;
  -moz-transition: border-color .15s linear, box-shadow .15s linear;
  -ms-transition: border-color .15s linear, box-shadow .15s linear;
  -o-transition: border-color .15s linear, box-shadow .15s linear;
  transition: border-color .15s linear, box-shadow .15s linear
}

.paypalInput#paypalPassword {
  background: url(../img/key-solid.svg) no-repeat scroll 7px 7px;
  /*Fuente icono: https://fontawesome.com/license*/
  background-size: 15px;
}

.paypalInput:focus {
  background-color: #fff;
  outline: 0;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.profileImage{
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}